[submodule "submodules/qpbe3e"]
	path = submodules/qpbe3e
	url = https://github.com/nceder/qpbe3e.git
[submodule "submodules/python-tutorial"]
	path = submodules/python-tutorial
	url = https://github.com/Akuli/python-tutorial.git
[submodule "submodules/python-resources-2019"]
	path = submodules/python-resources-2019
	url = https://github.com/stephenh67/python-resources-2019.git
